body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: beige;
}

.container {
  position: relative;
  background-color: rgb(184, 205, 237);
  width: 400px;
  text-align: center;
  height: 608px;
  border: 2px solid lightgray;
  border-radius: 15px;
}

.logo {
  width: 400px;
  height: 70px;
}

.box {
  background-color: rgb(52, 52, 170);
  color: white;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.monu-img {
  margin: 9px;
  width: 150px;
  height: 180px;
  border: 3px solid rgb(52, 52, 170);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.qr-img {
  position: absolute;
  left: 10px;
  bottom: 300px;
  padding: 2px;
  width: 100px;
  height: 100px;
}

.content {
  position: absolute;
  right: 30px;
  top: 124px;
}

.sign img {
  width: 80px;
}

.sign {
  position: absolute;
  left: 30%;
  top: 250px;
}

.name {
  color: red;
  font-size: 25px;
  font: bold;
}

.head {
  margin-left: 50px;
}

.value {
  text-align: left;
}

.details {
  display: flex;
  gap: 20px;
}

.line {
  border: 2px solid red;
  margin-bottom: 3px;
}

.auth {
  margin-top: 0px;
}

.footer {
  background-color: rgb(52, 52, 170);
  color: white;
  border-radius: 0 0 10px 10px;
  width: 400px;
  height: 30px;
}
